@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");

.body {
  flex: 1 0 auto;
}

h1,
h3 {
  font-family: "Fira Sans", sans-serif;
  color: #004c3f;
}

.gold {
  color: gold;
}

.darkgreen {
  color: #004c3f;
}

footer {
  color: white;
  flex-shrink: 0;
  width: 100%;
  background-color: #004c3f;
  margin-top: 100px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 200px;
    line-height: 40px;
  }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  footer {
    height: 250px;
    line-height: 35px;
  }
}

@media screen and (max-width: 540px) {
  footer {
    height: 275px;
    line-height: 30px;
  }
}

.footer-byline {
  color: #ffffffad;
}

.topbar {
  background-image: linear-gradient(#95bf47, #fbf7ed);
  height: 5em;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #e3ffe2 radial-gradient(circle, transparent 1%, #e3ffe2 1%)
    center/15000%;
}
.ripple:active {
  background-color: #95bf47;
  background-size: 100%;
  transition: background 0s;
}

.moviecard-details {
  height: 10rem;
  width: 100%;
}

.moviecard-year {
  color: rgba(0, 0, 0, 0.514);
  font-weight: 300;
  font-size: 0.95rem;
}

.resultslist {
  max-height: 33rem;
  overflow: auto;
}

.resultcard {
  height: 10rem;
}

.resultcard-imagenotfound {
  font-size: 7.5rem;
  color: #004c3f;
}

.resultcard-plot {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mh-40 {
  max-height: 40px;
}
