@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");

.body {
  flex: 1 0 auto;
}

h1 {
  font-family: "Fira Sans", sans-serif;
}

footer {
  color: white;
  flex-shrink: 0;
  margin-top: 100px;
  width: 100%;
  height: 200px;
  line-height: 40px;
  background-color: #004c3f;
}

.footer-byline {
  color: #ffffffad;
}

.topbar {
  background-image: linear-gradient(#95bf47, #fbf7ed);
  height: 6em;
}

.moviesearch-header {
  color: #004c3f;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #e3ffe2 radial-gradient(circle, transparent 1%, #e3ffe2 1%)
    center/15000%;
}
.ripple:active {
  background-color: #95bf47;
  background-size: 100%;
  transition: background 0s;
}

.moviecard-details {
  width: 100%;
}

.moviecard-title {
  font-weight: 575;
  font-size: 0.99rem;
}

.moviecard-year {
  color: rgba(0, 0, 0, 0.514);
  font-weight: 300;
  font-size: 0.95rem;
}
